<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>topic manager</title>
    <link rel="stylesheet" href="/css/topicManager.css">
</head>
<body>
    <nav class="home">
        <a href="/">Logout</a>
        <a href="/">Admin</a>
         <a href="/">Add articles</a>
        <a href="/">Manage Articles</a>
    </nav>
    <h1>welcome to topic manager</h1>
    <table class="table_topicManager">
        <tr align="center">
            <td>Si.no</td>
            <td>Name</td>
            <td>Title</td>
            <td>Date</td>
            <td>Accept Article</td>
            <td>Reject Article</td>
            <td>Status</td>
        </tr>
      
       
    </table>
</body>
</html>
