body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    overflow: hidden;
}

.background-image {
    width: 50%; 
    background-image: url('/assets/form_pic.jpeg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    width: 60%;
}

form {
    background: url('/assets/orangewave.png') center/cover no-repeat;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    z-index: 1;
    width: 30vw;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}
